body{
 margin:0;
 font-family:sans-serif;
 background:linear-gradient(135deg,#0f5fff,#b300ff);
 color:white;
}

.container{
 max-width:900px;
 margin:auto;
 padding:20px;
}

.card{
 background:rgba(255,255,255,0.15);
 padding:20px;
 border-radius:20px;
 margin:15px 0;
 backdrop-filter:blur(10px);
}

input,select,button{
 width:100%;
 padding:12px;
 border-radius:12px;
 border:none;
 margin:8px 0;
}

button{
 cursor:pointer;
 font-weight:bold;
}

.navbar{
 display:flex;
 justify-content:space-between;
 align-items:center;
 background:white;
 color:black;
 padding:10px 20px;
 border-radius:20px;
 margin:10px;
}

.nav-links a{
 margin:0 10px;
 text-decoration:none;
 font-weight:bold;
}

.statbox{
 padding:30px;
 border-radius:20px;
 text-align:center;
 font-size:22px;
 background:rgba(255,255,255,0.2);
}

.disabled{
 opacity:.4;
 pointer-events:none;
}
