body {
  margin:0;
  font-family:sans-serif;
  background:linear-gradient(45deg,#106de6,#cd10e6);
  color:white;
}

.navbar {
  background:white;
  color:black;
  padding:12px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-radius:12px;
  margin:10px;
}

.nav-links a{
  margin:0 10px;
  text-decoration:none;
  color:black;
  font-weight:bold;
}

.admin-btn{
  background:linear-gradient(45deg,#106de6,#cd10e6);
  padding:6px 12px;
  border-radius:8px;
  color:white!important;
}

.stat-box{
  background:linear-gradient(45deg,#106de6,#cd10e6);
  padding:20px;
  border-radius:18px;
  margin:10px;
  text-align:center;
  font-size:20px;
}

button{
  padding:8px 14px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.disabled{
  opacity:0.4;
  pointer-events:none;
}

.card{
  border:1px solid white;
  padding:15px;
  border-radius:12px;
  margin:10px;
}
